doctype html
html(lang="en")
head
    meta(charset = "UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Add a Card

body
    form(action="../routes/cards" method="post")
        label(for="person") Name:
        input(type="text")
        br
        label(for="group") Group:
        input(type="text")
        br
        button(type="submit") Submit