doctype html
html(lang="en")
head
    meta(charset = "UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Directory

body

    each card in data 
        div
            h3= card.person
            h4= card.group
            h4= card.album
            h5= card.year


    form(action="/" method="POST")
        input(type="submit" value="Add a Card")